{
  "Dev": {
    "Tenant": "insightedu.onmicrosoft.com",
    "AdminUrl": "https://netorgft18192557-admin.sharepoint.com",
    "HubUrl": "https://netorgft18192557.sharepoint.com/sites/InsightEdu-Hub",
    "DefaultTimeZone": "Asia/Dubai"
  },
  "Test": {
    "Tenant": "<test>.onmicrosoft.com",
    "AdminUrl": "https://<test>-admin.sharepoint.com",
    "HubUrl": "https://<test>.sharepoint.com/sites/InsightEdu-Hub"
  },
  "Prod": {
    "Tenant": "<school>.onmicrosoft.com",
    "AdminUrl": "https://<school>-admin.sharepoint.com",
    "HubUrl": "https://<school>.sharepoint.com/sites/HQ-Hub"
  }
}